name: Debug Tests

on:
  push:
    branches:
      - '**'

jobs:
  debug:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        
      - name: Debug info
        run: |
          echo "Repository: ${{ github.repository }}"
          echo "Private: ${{ github.event.repository.private }}"
          echo "Event: ${{ github.event_name }}"
          ls -la
          
      - name: Test Yandex Action
        uses: Yandex-Practicum/test-project-action@v1
        with:
          project: 'slozhno-sosredotochitsya-ad'
