name: Test
on: [push]
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: Yandex-Practicum/test-project-action@v1
        with:
          project: 'slozhno-sosredotochitsya-ad'
